{% extends "admin/change_form.html" %}
{% load i18n admin_urls  %}

{% block object-tools-items %}
    {% if app_label == 'auth' %}
        {% if original.profile.is_approved == False or original.profile.is_approved == None %}
            <li>
                {% url 'admin:approve_account' original.pk|admin_urlquote as approve_url %}
                <a href="{% add_preserved_filters approve_url %}">{% trans "Approve" %}</a>
            </li>
        {% endif %}

        {% if original.profile.is_approved == True or original.profile.is_approved == None %}
            <li>
                {% url 'admin:reject_account' original.pk|admin_urlquote as reject_url %}
                <a href="{% add_preserved_filters reject_url %}">{% trans "Reject" %}</a>
            </li>
        {% endif %}
    {% endif %}

    {{ block.super }}
{% endblock %}


{% block form_top %}{% endblock %}

{% block content %}
    <style type="text/css">
        #profile-0 h3 { display:none; }
    </style>

    {{ block.super }}

    <script type="text/javascript">
        {% if original.pk %}
            django.jQuery("#profile-group").detach().appendTo("#user_form fieldset:eq(1)");
            django.jQuery("#profile-group h2, .field-username").hide();
        {% else %}
            django.jQuery("#profile-group h2").hide();
        {% endif %}
    </script>
{% endblock %}
